<html>
 <head>
   <script src="https://aframe.io/releases/0.7.1/aframe.min.js"></script>
 </head>
 <!-- <body> -->
   <!-- <a-scene> -->
      <!-- <a-scene embedded arjs='trackingMethod: best;'> -->
          <!-- <a-anchor hit-testing-enabled='true'> -->
      <!-- <a-gltf-model src="mega_scene/scene.gltf" scale="0.01 0.01 0.01" ></a-gltf-model> -->
     <!-- <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane> -->
     <!-- <a-sky color="#ECECEC"></a-sky> -->
   <!-- </a-scene> -->
 <!-- </body> -->




<body style='margin : 0px; overflow: hidden;'>
    <a-scene embedded arjs='trackingMethod: best;'>
      <!-- <a-anchor hit-testing-enabled='true'> -->
      <a-gltf-model src="mega_scene/scene.gltf" scale="0.10 0.10 0.10"></a-gltf-model>
           <a-box position='0 0.5 0' material='opacity: 0.5;'></a-box>
      <!-- </a-anchor> -->
        <a-camera-static/>
    </a-scene>
</body>
</html>